/* Make Quarto title look like the R Markdown appendices */

.quarto-title-banner {
  background-color: transparent !important;
  color: inherit !important;
  padding-top: 20px !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

#title-block-header {
    margin-block-end: 1rem;
    position: relative;
    margin-top: 5em;
}

/* Main title: Appendix 02 uses 38px */
.quarto-title-banner h1.title {
  
  background-color: white !important;
    font-size: 30px !important;
    font-weight: bold !important;
    color: black !important;
  
}

/* Appendix 02 subtitle is actually another h1: 34px */
.quarto-title-banner .subtitle {
  
  background-color: white !important;
    font-size: 20px !important;
    font-weight: normal !important;
    color: #858585 !important;
    line-height: 1.35em !important;
    margin-top: 20px !important;
    width: 125%;
  
}


#quarto-document-content {
    margin-top: -1em;
}

#title-block-header > div.quarto-title-banner.page-columns.page-full{
  margin-top:5em;
}

#quarto-document-content {
    margin-top: -1em;
    width: 125%;
}


#fig-1 > figure > div > img{
    max-width: 70%;

}

#fig-2 > figure > div > img{
    max-width: 70%;

}

.title{
  width: 185%;
}

.subtitle_06{
  background-color: white !important;
    font-size: 20px !important;
    font-weight: normal !important;
    color: #858585 !important;
    line-height: 1.35em !important;
    margin-top: 20px !important;
    width: 125%;
    margin-bottom:2em;
}
